{% extends "core/style/default_style.html" %} {% load form_tags %} {% load static %} {% block base_content %}<div class="row complete_registration"><div class="small-12 columns text-center">{{message_registration_ok}}</div></div>{% endblock %}