{% extends "core/style/default_style.html" %} {% load form_tags %} {% load static %} {% block base_content %}<div class="row"><div class="large-12 columns text-center"><br><div>Password change successful.</div></div></div>{% endblock %}