{% extends "core/style/default.html" %}
{% load form_tags %}
{% load static i18n %}



{% block base_content %}
    <div class="row userpost">
        <div class="col-xs-12 columns">
            <h1 class="page_title">{% trans 'Change password' %}</h1>
        </div>

        <div class="col-xs-12 columns">
            {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
        </div>
    </div>

    <div class="row change_user_password">
        <div class="col-xs-12 columns">
            <form action="" method="post" class="form-test">{% csrf_token %}
                <div class="row">
                    <div class="col-xs-6 columns">
                        {{ form.old_password.label }}
                    </div>
                    <div class="col-xs-6 columns">
                        {{ form.old_password|addcss:"input" }}
                        {{ form.old_password.errors }}
                    </div>

                    <div class="col-xs-6 columns">
                        {{ form.new_password1.label }}
                    </div>
                    <div class="col-xs-6 columns">
                        {{ form.new_password1|addcss:"input" }}
                        {{ form.new_password1.errors }}
                    </div>

                    <div class="col-xs-6 columns">
                        {{ form.new_password2.label }}
                    </div>
                    <div class="col-xs-6 columns">
                        {{ form.new_password2|addcss:"input" }}
                        {{ form.new_password2.errors }}
                    </div>

                    <div class="row">
                        <div class="col-xs-12 columns text-center">
                            <br />
                            <button type="submit">{% trans 'Change my password' %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
