{% extends "core/style/default.html" %}
{% load form_tags %}
{% load static %}



{% block base_content %}

    <div class="row complete_registration userpost">
        <div class="small-12 columns text-center">
            {{message_registration_ok}}
        </div>
    </div>

{% endblock %}