{% load form_tags %}
{% load static %}
{% load cms_tags sekizai_tags %}
{% load i18n %}

<div class="login-box">
    {% if not user.is_authenticated %}
        <div class="register">
            <div class="col-sm-12 col-md-12 col-lg-12 columns text-right">
                <form method="post" name="login_form_box" action="{% url 'user:login_user' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="/it/istruzioni" />
{#                {{ request.path }}#}
                    <input type="text" class="input" placeholder="{% trans 'Username' %}" name="username">
                    <input type="password" class="input" placeholder="{% trans 'Password' %}" name="password">
                    <button type="submit" class="btn btn-default submit">{% trans 'Login' %}</button>
                    <a href="{% url 'user:create_user' %}" class="btn btn-default submit">Iscriviti</a>
                    <div class="row form-bottom">
                            {% if message_login_fail %}
                                <div class="large-12 columns" style="color:darkred;">
                                    {{ message_login_fail }}
                                </div>
                                <div class="small-8 medium-12 large-8 columns forgot-password">
                                    <a href="{% url 'user:password_reset' %}">{% trans 'Hai dimenticato la password?' %}</a>
                                </div>
                            {% endif %}
                    </div>
                </form>
            </div>
    {% else %}
        <div class="register">
            <div class="col-sm-12 col-md-12 col-lg-12 columns text-right user user">
              <div class="welcome">
                  <span>{% trans 'Benvenuto' %} {{ user.first_name }} {{ user.last_name }} {{ user.denominazione }}</span>
                    <form method="post" action="{% url 'user:logout_user' %}" style="float:right; margin-left:10px;">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}" />
                        <button class="btn btn-default " type="submit">{% trans 'Logout' %}</button>
                    </form>
                  <div class="row form-bottom">
                      <div class="text-left col-md-10">
                         <a href="{% url 'user:change_user_data' %}">{% trans 'Modifica dati' %}</a> /
                         <a href="{% url 'user:change_user_password' %}">{% trans 'Change' %} password</a>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    {% endif %}
</div>