{% extends "core/style/default.html" %}
{% load form_tags cms_tags %}
{% load static i18n %}



{% block base_content %}
    <div class="row userpost">
        <div class="small-12 columns">
            <h1 class="page_title">{% trans 'Dimenticata la password?' %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            {% trans "Dimenticata la password? Inserisci la tua email e ti invieremo le istruzioni per impostarne una nuova." %}
        </div>
    </div>

    <div class="row password_reset_form">
        <div class="medium-4 medium-offset-4 columns">
            <form method="post" name="reset_form" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3 columns">
                        Indirizzo email :
                    </div>
                    <div class="col-md-8 columns pull-left">
                        {{ form.email|addcss:"input" }}
                        {{ form.email.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns text-center">
                        <button type="submit" class="btn btn-default">{% trans 'Reimposta la mia password' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}