{% extends "core/style/default.html" %}
{% load form_tags %}
{% load static %}


{% block base_content %}

    {% if validlink %}

        <div class="row userpost">
            <div class="small-12 columns">
                <h1>Enter new password</h1>


                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

                <form method="post" name="reset_form" action="">
                    {% csrf_token %}

                    <label for="id_new_password1">New password:</label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}


                    <label for="id_new_password2">Confirm password:</label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}

                    <button id="reset_submit" type="submit" class="button-class">Change password</button>
                </form>
            </div>
        </div>

    {% else %}

        <div class="row userpost">
            <div class="small-12 columns">
                <h1>Password reset unsuccessful</h1>

                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                    password reset.
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}