{% extends "core/style/default.html" %}
{% load form_tags %}
{% load static %}


{% block base_content %}

    <div class="row userpost">
        <div class="small-12 columns">
            <h1>Password reset complete</h1>
            <p>Your password has been set. You may go ahead and log in now.</p>
        </div>
    </div>

{% endblock %}
