{% extends "core/style/default.html" %}
{% load form_tags cms_tags %}
{% load static i18n %}

{% block js_app %}
  <script>
  $( function() {
    conditional_fieldspg.hide();
    //controlli condizionali sui campi
    $("#id_news_ok").change(function() {
        if ($(this).prop('checked')) {
        } else {
            alert('Attenzione deselezionando si perde il servizio gratuito di reminder della scadenza dei servizi da lei sottoscritti!!');
        }
    });
  });

  var conditional_fieldspg = $("div.elepg");
  var conditional_fieldspf = $("div.elepf");
  function tipouserx(el) {
          if (el.value=='PF') {
                conditional_fieldspf.show();
                conditional_fieldspg.hide();
          } else {
                conditional_fieldspf.hide();
                conditional_fieldspg.show();
          }
  }

  </script>
{% endblock %}

{% block base_content %}

    <div class="row user_creation userpost">
        <div class="small-12 columns">
            <h1 class="page_title">{% trans 'Registrazione utente' %}</h1>
            <form action="{% url 'user:create_user' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3 columns">
                        Tipo soggetto*
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.tipouser|addcss:"input" }}
                        {{ form.tipouser.errors }}
                    </div>
                    <div class="col-md-3 columns elepf">
                        Nome
                    </div>
                    <div class="col-md-3 columns elepf">
                        {{ form.first_name|addcss:"input" }}
                        {{ form.first_name.errors }}
                    </div>

                    <div class="col-md-3 columns elepf">
                        Cognome
                    </div>
                    <div class="col-md-3 columns elepf">
                        {{ form.last_name|addcss:"input" }}
                        {{ form.last_name.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        Codice Fiscale*
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.codfis|addcss:"input" }}
                        {{ form.codfis.errors }}
                    </div>
                    <div class="col-md-3 columns elepg">
                        Denominazione
                    </div>
                    <div class="col-md-3 columns elepg">
                        {{ form.denominazione|addcss:"input" }}
                        {{ form.denominazione.errors }}
                    </div>
                    <div class="col-md-3 columns elepg">
                        P.Iva
                    </div>
                    <div class="col-md-3 columns elepg">
                        {{ form.pariva|addcss:"input" }}
                        {{ form.pariva.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        Telefono Mobile*
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.mobile|addcss:"input" }}
                        {{ form.mobile.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        Telefono Fisso
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.telefono|addcss:"input" }}
                        {{ form.telefono.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.cap.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.cap|addcss:"input" }}
                        {{ form.cap.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.indirizzo.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.indirizzo|addcss:"input" }}
                        {{ form.indirizzo.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        Città
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.citta|addcss:"input" }}
                        {{ form.citta.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.coupon.label }}
                    </div>
                   <div class="col-md-3 columns">
                        {{ form.coupon|addcss:"input" }}
                        {{ form.coupon.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.denoage.label }}
                    </div>
                   <div class="col-md-3 columns">
                        {{ form.denoage|addcss:"input" }}
                        {{ form.denoage.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.codfisage.label }}
                    </div>
                   <div class="col-md-3 columns">
                        {{ form.codfisage|addcss:"input" }}
                        {{ form.codfisage.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.email.label }}
                    </div>

                    <div class="col-md-3 columns">
                        {{ form.email|addcss:"input" }}
                        {{ form.email.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.username.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.username|addcss:"input" }}
                        {{ form.username.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.password1.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.password1|addcss:"input" }}
                        {{ form.password1.errors }}
                    </div>

                    <div class="col-md-3 columns">
                        {{ form.password2.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.password2|addcss:"input" }}
                        {{ form.password2.errors }}
                    </div>

                </div>

                <div class="row privacy">
                    <div class="col-md-12 columns">
                        <div class="privacy_description">{% trans ' I dati personali saranno trattati in conformità con l’informativa presente nella sezione ' %}<a
                                href="{% page_url 'privacy' %}" target="_blank">Privacy</a>
                        </div>
                    </div>
                    <div class="col-md-12 columns">
                        <div class="privacy_label">{{ form.privacy_ok|addcss:"input" }}{% trans 'Autorizzo al trattamento dei dati personali *' %}</div>
                        {{ form.privacy_ok.errors }}
                    </div>
                    <div class="col-md-12 columns">
                        <div class="privacy_label">{{ form.news_ok|addcss:"input" }}{% trans 'Autorizzo al trattamento dei dati personali per fini di invio scadenza contratti, newletters e marketing' %}</div>
                        {{ form.news_ok.errors }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 columns text-center">
                        <button type="submit" class="btn btn-default">{% trans 'Send' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}