.galleryitems {
  .swipebox {
    .fa-play-circle {
      position: absolute;
      left: 71px;
      top: 18px;
      color: #f5f5f5;
    }
    &.image {
      .fa-play-circle {
        display: none;
      }

    }
  }
}