@import "bootstrap";

.filelist {
  &.downloads {
    padding-bottom: 10px;
    padding-top: 30px;
    .download-item {
      background-color: #b8b8b8;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      span.dowload_ico{
        background-image: url('../../../images/pleiadi_cmsplugins/gallery/download.png');
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        height: 100px;
      }
      a{
        color: #ffffff;
        font-size: 12px;
        display: block;
        margin: 0 auto;
        padding-top: 16px;
        padding-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
