@import "bootstrap";

.teaserlist {
  &.boxes {
    &.bg_image {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
  }
  .panel-body {
    @media (max-width: $screen-sm-max) {
      height: auto !important;
    }
    position: relative;
    .item-description {
      &.link {
        margin-bottom: 50px;
      }
    }
    .btn-default {
      position: absolute !important;
      bottom: 15px !important;
    }
  }
}
