{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    {% load static %}
         <script type="text/javascript" src="{% url 'contacts:branch_admin_visibility_js' %}?app_name={{ opts.app_label }}&obj_pk={{ original.pk }}&model_name={{ opts.model_name }}&nrprotoade={{ original.nrprotoade }}"></script>
{% endblock %}

{% block breadcrumbs %}

    {{ block.super }}

{% endblock %}

{% block footer %}
    <div style="text-align:right;margin-right:50px;padding-bottom:0px">
        <input type="button" value="{% trans 'Invia Calcolo dovuto' %}" name="_send_mail_calc" class="send_mail_calcdov" {% if not original.pk %}disabled="disabled"{%endif %}  style="background-color:green"/>
    </div>
    <div style="text-align:right;margin-right:50px;padding-bottom:50px">
        <input type="button" value="{% trans 'Invia Protocollo Ade' %}" name="_send_mail" class="send_mail" {% if not original.pk %}disabled="disabled"{%endif %} style="background-color:#ba2121"/>
    </div>
    <div id="popup-message-content" class="messagelist" style="color:red; position: absolute; bottom:50px;right: 50px"></div>
{% endblock %}