

{% extends "mailing/mail_base.html" %}

{% block mail_base_content %}
    <table width="100%" cellpadding="15" cellspacing="0" border="0">

        {% for item in data_table %}

                <tr style="border-bottom: dotted 1px white">
                    <td width="1%" bgcolor="{% cycle '#e7e7e7' '#f4f4f4' %}" style="border-right: dotted 1px white">
                        <strong>{{ item.label }}</strong></td>
                    <td width="99%" bgcolor="{% cycle '#e7e7e7' '#f4f4f4' %}">
                        {{ item.value|safe }}
                    </td>
                </tr>

        {% endfor %}

    </table>
{% endblock %}