@import "../../../../core/static/core/stylesheet/base";

.form-container-new {
  label {
    color:#333;
  }
  .errorlist {
    color:darkred;
  }
  .form-group {
    color:#000000;
    p {
      color:#333 !important;
      a {
        color:#333 !important;
        &:hover {
          color:#333 !important;
        }
      }
    }
  }
  fieldset.scheduler-border {
      border: 1px groove #ddd !important;
      padding: 0 1.4em 1.4em 1.4em !important;
      margin: 0 0 23px 0 !important;
      -webkit-box-shadow:  0px 0px 0px 0px #000;
              box-shadow:  0px 0px 0px 0px #000;
      margin-bottom:23px !important;
  }

  legend.scheduler-border {
      color:#1f629b;
      font-size: 1.2em !important;
      font-weight: bold !important;
      text-align: left !important;
      margin-bottom:22px !important;
  }
}

.daticatastali {
  background-color:#2e6da4;
}

.contacts {
  h2 {
    margin-top: 0;
    margin-bottom: 60px;
  }
  .main-content {
    //border-right: 1px solid #484848;
    padding-bottom: 42px;
    margin-top:20px;
  }
  .form-container {
    background-color: #eaeaea;
    padding: 60px 50px;
    .contacts-form {
      background-color: #f7f7f7;
      padding: 40px 30px;
      .form-group {
        p {
          color:#333 !important;
          a {
            color:#333 !important;
            &:hover {
              color:#333 !important;
            }
          }
        }
        border-bottom: 1px solid #484848;
        label {
          color: #000000;
          font-size: 28px;
          font-weight: normal;
          text-transform: uppercase;
        }
        .form-control {
          background-color: transparent;
          border: none;
          border-radius: 0;
          color: #000000;
          font-size: 28px;
          font-weight: normal;
          height: auto;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          &.checkbox {
            display: inline;
            margin-top: 12px;
            width: auto;
          }
        }
        select{
          margin: 6px 12px;
        }
        &.checkbox {
          label {
            margin: 6px 12px;
          }
        }
        .errorlist {
          color: #ff0000;
          margin: 0;
          padding: 0;
        }
      }
      .submit {
        color: #464341;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }

  .right-col {
    h2 {
      font-size: 26px;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .contacts-footer {
    border-top: 1px solid #484848;
    .contacts-footer-item {
      min-height: 200px;
    }
    h3 {
      font-size: 28px;
      margin: 40px 0 22px 0;
      text-transform: uppercase;
    }
    .desc {
      font-size: 20px;

    }
    .lower-info {
      font-size: 20px;
      padding: 28px 0 30px 0;
      .btn {
        font-size: 20px;
      }
    }
    .border-right {
      border-right: 1px solid #efefef;
    }

    .social-links-contacts {
      /* http://stackoverflow.com/questions/16946284/align-ul-to-center-of-div */
      .social-links {
        display: inline-block;
        margin: 0 auto;
        position: relative;
        top: auto;
        right: auto;
        overflow: hidden;
        width: auto;
        li {
          float: left;
          maring-right: 10px;
          a {
            background-color: transparent;
            color: #585858;
            font-size: 30px;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.elencoPratiche div {
    background-color: #ccc;
    font-size: 14px;
    color: #666;
}

.news-date {
  font-weight:100 !important;
}

#loading {
   display:none;
   width:100%;
   height:100%;
}