.teaser.banner {
    margin-bottom: 30px;

    .banner-container {
      height: auto;
      width: 100%;
      background-position: center;
      background-size: cover;

      img {
        visibility: hidden;
      }

      .banner-content {
        position: absolute;
        bottom: 50px;
        color: white;
        left: 50px;
      }
    }

  }