.teaser {
  position: relative;
  .item-description {
    &.link {
      margin-bottom: 70px;
    }
  }
  .btn-default {
    position: absolute !important;
    bottom: 15px !important;
  }

  .image-container {
    background-position: center;
    background-size: cover;


    img {
      visibility: hidden;
    }
  }
}