.teaser {
  position: relative; }
  .teaser .item-description.link {
    margin-bottom: 70px; }
  .teaser .btn-default {
    position: absolute !important;
    bottom: 15px !important; }
  .teaser .image-container {
    background-position: center;
    background-size: cover; }
    .teaser .image-container img {
      visibility: hidden; }
