.flags {
  overflow: hidden;
  width: 100%; }
  .flags .flag {
    float: left;
    margin-right: 5px; }
    .flags .flag.untranslated {
      opacity: 0.3; }

.untranslated-message {
  color: red; }
  .untranslated-message .language-code {
    text-transform: uppercase; }
