@import "settings";

$static-url: "/static/";


@mixin list-bordered-box($color, $size, $border, $padding-v) {
  //border: 1px solid $border;
  a{
    color: $color;
    &:hover{
      text-decoration: none;
    }
  }
  .item-image{
    //border-bottom: 1px solid $border;
    padding-bottom: $padding-v;
    padding-top: $padding-v;
    img{
      display: inline-block;
      height: auto;
    }
  }
  .item-info{
    color: $color;
    font-weight: 300;
    min-height: 110px;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
    h4{
      font-family: Times;
      font-size: $size;
    }
  }
}

@mixin bordered-content-image-out($color){
  .text-content{
    border: 1px solid $color;
    padding: 30px 10px 30px 40px;
  }
  .img-content{
    padding-left: 0;
    padding-right: 0;
    .img-responsive{
      height: 100%;
    }
  }
}

