.flags {
  overflow: hidden;
  width: 100%;

  .flag {
    float: left;
    margin-right: 5px;

    &.untranslated {
      opacity: 0.3;
    }
  }
}
.untranslated-message {
  color: red;

  .language-code {
    text-transform: uppercase;
  }
}
