
	#cookie-law {
		color:#333333;
		font-family: 'Open Sans', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
		font-weight:300;
		margin:0;
		padding:8px;
		font-size:12px;
		line-height:20px;
		background-color: #ffffff;
		border-bottom: 1px solid #333333;
	}

	#cookie-law p{
		padding:0;
		margin:0;
		font-size:12px;
		line-height:20px;
	}

	#cookie-law-details-button {
		color: #333333;
		text-decoration: underline;
        font-weight: bold;
	}

	#cookie-law-button {
		background-color: #666666;
		font-size:12px;
		display: inline-block;
		color: #ffffff;
		text-decoration: none;
		font-weight: bold;
		line-height: 1;
		padding: 4px;
		margin-left: 8px;
	}