@import "compass/css3/transition";

header{
  background-color: #000000;
//  height: 224px;
//  position:fixed;
//  top: 0;
  position:relative;
  @include transition-property(all);
  @include transition-duration(0.4s);
  @include transition-timing-function(ease);
  z-index: 1000;
  .head-page{
    padding-top: 20px;
    .header-info{
      padding-bottom: 20px;
      .ext-link{
        padding-top: 50px;
        font-size: 26px;
      }
      .page-brand{
        .payoff-container{
          padding-top: 20px;
          @include transition-property(all);
          @include transition-duration(0.4s);
          @include transition-timing-function(ease);
        }
      }
      .search-container{
        padding-top: 52px;
      }
    }
  }
  .navbar-fixed-top {
    background-color: rgba(13, 13, 13, 0.7) !important;
    margin-bottom: 0;
    
    .navbar-collapse {

      .navbar-nav {
        border-bottom: 0px solid $brand-primary;
        text-transform: uppercase;
        li {
          font-weight: 300;
          &.dropdown {
            &:hover {
              .dropdown-menu {
                margin-top: 0;
                background-color: transparent;
              }
            }
          }
          .dropdown-menu {
            top: 115%;
            li {
              &:hover, &.active {
                border-bottom: none;
                background-color: transparent;
              }
            }
          }
          a:hover{
            background-color: transparent;
          }
        }
        > li {
          border-bottom: 4px solid transparent;
          font-size: 24px;
          &:hover, &.active, &.dropdown.open {
            border-color: $brand-primary-sec;
          }
          > a {
            padding-left: 15px;
            color: #333 !important;
            font-size: 15px !important;
            font-weight: normal !important;
            text-transform: uppercase !important;
          }
        }
        &.main-menu {
          display: table;
          font-family: 'NobelLight', Arial, Helvetica, sans-serif;
          width: 100%;
          text-transform: uppercase;
          li {
            display: table-cell;
            float: none;
          }
          .yamm-fw {
            .dropdown-menu {
              border-color: #4b4b4b;
              left: 10px;
              right: 10px;
              > li {
                display: list-item;
                h4{
                  font-family: 'NobelLight', Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }
              }
            }
          }
          .yamm-content {
            background-image: url('../images/menu_bg.jpg');
            background-position: bottom right;
            background-repeat: no-repeat;
            padding: 20px 30px 60px 30px;
            .menu-block {
              border-left: 1px solid #4b4b4b;
              &:first-child {
                border-left: none;
              }
            }
            ul {
              font-family: 'Open Sans', Arial, Helvetica, sans-serif;
              font-size: 14px;
              margin: 0;
              padding: 0;
              li {
                display: block;
                line-height: 1.6;
                a {
                  color: #393939;
                  i {
                    color: #7f7f7f;
                    padding-right: 10px;
                  }
                  &:hover {
                    color: #000000;
                    i {
                      color: #000000;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .tools-nav-container {
      //margin-top: 40px;
      overflow: hidden;
      padding-bottom: 18px;
      .tools-nav {
        float: right;
        font-size: 12px;
        overflow: hidden;
        text-transform: uppercase;
        @include transition-property(all);
        @include transition-duration(0.4s);
        @include transition-timing-function(ease);
        top: 0;
        position: relative;
        li {
          float: left;
          margin-left: 10px;
          a {
            color: $brand-primary;
          }
        }
      }
    }
  }
//  &.animated-header-scroll {
////      height: 124px;
//      background-color: #000000;
//      .head-page{
//        padding-top: 16px;
//        .header-info{
//          padding-bottom: 8px;
//          .ext-link{
//            padding-top: 9px;
//            font-size: 20px;
//          }
//          .page-brand{
//            .payoff-container{
//              display: none;
//              .payoff{
//                display: none;
//              }
//            }
//          }
//          .search-container{
//            padding-top: 9px;
//          }
//        }
//      }
//      .tools-nav-container {
//        margin-top: 0;
//        padding-bottom: 0;
//        .tools-nav {
//          //display: none;
//          position: absolute;
//          top: -2000px;
//        }
//      }
//
//  }
}
.mobilemenu{
  position:absolute;
  top:0px;
  z-index:9999;
  background-color:rgba(13, 13, 13, 0.7) !important;
  .navbar-default{
    background-color: transparent;
    border-color:transparent;
    .navbar-header{
      padding-bottom: 10px;
      text-align: center;
      .navbar-toggle{
        background-color: #ffffff;
        float: right;
        margin:0;
        padding: 22px 24px;
        border-radius: 0;
        .icon-bar{
          height: 3px;
        }
      }
      .navbar-brand{
        display: inline-block;
        float: none;
        >img{
          max-width: 200px;
        }
      }
    }
  }
}

#mobile-menu{
  &.mm-theme-white {
    color: $brand-primary;
    .mm-close{
      color: $brand-primary  !important;
    }
    .mm-navbar{

    }
    .mm-listview{
        border-color: #3e3e3e;
      li{
        color: $brand-primary;
        font-size: 22px;
        font-weight: 300;
        text-transform: uppercase;
        a{
          color: #3e3e3e;
          span {
            padding: 12px 10px 12px 20px;
          }
        }
      }
    }
  }
}
#breadcrumbs{
  //border-top: 1px solid $brand-primary;
  ul{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    li{
      a{
        color: $breadcrumb-color;
      }
    }
  }
}

/* custom */

.dropdown {
    .dropdown-menu{
        display: none;
        background-color: rgba(13, 13, 13, 0.7) !important;
        > li > a {
          color: #ffffff !important;
          font-size: 13px;
          font-weight: bold;
          padding-bottom: 10px;
          padding-top: 10px;
          text-transform: none;
          padding-left:15px;
        }
    }
    > a, > a:hover, > a:focus {
        color: #000;
        background-color: transparent;
    }
    &:hover {
        .dropdown-menu{
            display: block;
            background-color: transparent;
        }
        > a, > a:hover, > a:focus{
            color: #fff;
            background-color: transparent;
        }
    }
}

.navbar-default {
  border-bottom: 5px solid #00CC00;
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  //border-color:transparent;
  .navbar-nav {
    > li > a {
      background-color: transparent;
      padding-bottom: 0;
      padding-top: 5px;
      color: #333 !important;
      font-size: 15px !important;
      font-weight: normal !important;
      text-transform: uppercase !important;
    }
  }
  .menu {
    position:relative;
    .login-box {
      position:absolute;
      top:-20px;
      right:10px;
    }
  }
  .forgot-password a{
    color:darkred;
  }
  .register {
    input {
      margin-top:5px;
      widht:30px;
    }
    .btn-default {
      margin-top:-1px;
    }
  }
}

.userpost {
  input {
    margin-bottom:5px;
  }
}

/**************/