{% load i18n sekizai_tags %}

{% addtoblock "js" %}
        {% if search_form_name %}
        <script type="text/javascript">
            $('.pagination li a').on('click',function(e){
                e.preventDefault();
                $('form[name={{ search_form_name }}]').append('<input name="page" type="hidden" value="' + $(this).attr('data-page') + '" />');
                $('form[name={{ search_form_name }}]').submit();
            });
        </script>
        {% endif %}
{% endaddtoblock %}

        {{search_form_name}}
{% if items.has_other_pages %}

    <div class="pagination-right text-right">
        <ul class="pagination">

            {% if items.has_previous %}
                <li class="arrow"><a href="?page={{ items.previous_page_number }}" data-page="{{ items.previous_page_number }}">{% trans 'previous' %}</a></li>
            {% endif %}

            {% for i in items.page_range %}
                <li {% ifequal i items.number %} class="active"{% endifequal %}><a href="?page={{ i }}" data-page="{{ i }}">{% if not i %}...{% else %}{{ i }}{% endif %}</a></li>
            {% endfor %}

            {% if items.has_next %}
                <li class="arrow"><a href="?page={{ items.next_page_number }}" data-page="{{ items.next_page_number }}">{% trans 'next' %}</a></li>
            {% endif %}

        </ul>
    </div>

{% endif %}
