{% extends "core/style/default.html" %}
{% load form_tags i18n static cms_tags %}


{% block css_app %}
    <link href="{% static "contacts/stylesheet/contacts.css" %}" rel="stylesheet">
{% endblock %}

{% block js_app %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $("#id_datastipulacontratto").datepicker({
        dateFormat: "dd/mm/yy",
        monthNames: [ "Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre" ],
        numberOfMonths: 2,
        onSelect: function(selected) {
           $("#id_datainiziolocazione").datepicker("option","minDate", selected)
        }
    });
    $("#id_datainiziolocazione").datepicker({
        dateFormat: "dd/mm/yy",
        monthNames: [ "Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre" ],
        numberOfMonths: 2,
        onSelect: function(selected) {
           $("#id_dataprimascadenzacontratto").datepicker("option","minDate", selected)
        }
    });
    $( "#id_dataprimascadenzacontratto" ).datepicker({
        dateFormat: "dd/mm/yy",
        monthNames: [ "Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre" ],
        numberOfMonths: 2,
    });

    //controlli condizionali sui campi
    var conditional_fields = $("div.elecodfis");
{#    conditional_fields.hide();#}

{#    $(".shipping").change(function() {#}
{#        if ($(this).prop('checked') === 'checked') {#}
{#            conditional_fields.show();#}
{#        } else {#}
{#            conditional_fields.hide();#}
{#        }#}
{#    });#}

    $("div.codfisgara").hide();
    $("#id_presgara_1").change(function() {
        if ($(this).prop('checked')) {
            $("div.codfisgara").hide();
        } else {
            $("div.codfisgara").show();
        }
    });
    $("#id_presgara_0").change(function() {
        if ($(this).prop('checked')) {
            $("div.codfisgara").show();
        } else {
            $("div.codfisgara").hide();
        }
    });


    //cedosecca
    if ($("#id_cedosecca_0").prop('checked')){$("div.regcedosecca").show();}
    else {$("div.regcedosecca").hide();}
    $("#id_cedosecca_1").change(function() {
        if ($(this).prop('checked')) {
            $("div.regcedosecca").hide();
        } else {
            $("div.regcedosecca").show();
        }
    });
    $("#id_cedosecca_0").change(function() {
        if ($(this).prop('checked')) {
            $("div.regcedosecca").show();
        } else {
            $("div.regcedosecca").hide();
        }
    });

	$('#loading').hide(); // la pagina viene caricata con il div id 'loading' nascosto
	$('#bottoneinvia').click(function() { // al click sul bottone applica la segunete funzione
    	$('#bottoneinvia').hide(); // nasconde il bottone invia
    	$('#loading').show(); // visualizza il div 'loading'
    });

  });
  </script>

<script type="text/javascript">

  var conditional_fields = $("div.elecodfis");
  function tiposerviziox(el) {
{#      alert(el.value + " - " + conditional_fields)#}
{#      if (el.value=='reg') {#}
{#            conditional_fields.show();#}
{#      } else {#}
{#            conditional_fields.hide();#}
{#      }#}
      return true;
  }
{#     $(function() {#}
{##}
{#        $( "#id_datastipulacontratto" ).datepicker({#}
{#            beforeShowDay: function(date) {#}
{#                var day = date.getDay();#}
{#            },#}
{#            dateFormat: "dd/mm/yy"#}
{#        });#}

{#        //Disable region field, activate only if italian country is selected#}
{#        var region = $('#id_region');#}
{#        region.prop('disabled', true);#}
{##}
{#        $('#id_country').on('change', function(){#}
{#            if ($(this).val() == 'IT') {#}
{#                region.prop('disabled', false);#}
{#            } else {#}
{#                region.prop('disabled', true);#}
{#            }#}
{#        });#}
{##}
{#        //Disable region field, activate only if italian country is selected#}
{#        var region = $('#id_region');#}
{#        region.prop('disabled', true);#}

{#        $('#id_birthday').on('change', function(){#}
{#            if ($(this).val() == '21') {#}
{#                region.prop('disabled', false);#}
{#            } else {#}
{#                region.prop('disabled', true);#}
{#            }#}
{#        });#}

{#        $('.form-wrapper').tooltip();#}

{#     });#}
</script>

{% endblock %}
{% block base_content %}

    <div class="contacts">

        <h1>{% page_attribute page_title %}</h1>
{#        <h2>{% trans 'Contacts form description' %}</h2>#}

        <div class="row">
            <div class="col-xs-12 col-sm-12 main-content">
                <div class="form-container-new">
                    <form class="contacts-form" action="" method="post" role="form" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.nome_registrazione.label }}">{{ form.nome_registrazione.label }}*:</label>
                                    {{ form.nome_registrazione|addcss:"form-control" }}
                                    {{ form.nome_registrazione.errors }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="{{ form.tiposervizio.label }}">{% trans 'Tipo servizio' %}*:</label>
                                    {{ form.tiposervizio|addcss:"form-control" }}
                                    {{ form.tiposervizio.errors }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="{{ form.tipocontr.label }}">{% trans 'Tipo richiedente' %}*:</label>
                                    {{ form.tipocontr|addcss:"form-control" }}
                                    {{ form.tipocontr.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label for="{{ form.tipocontratto.label }}">{% trans 'Tipo contratto' %}:</label>
                                    {{ form.tipocontratto }}
{#                                    {% for radio in form.tipocontratto %}#}
{#                                    <div class="myradio">#}
{#                                        {{ radio }}#}
{#                                    </div>#}
{#                                    {% endfor %}#}
                                    {{ form.tipocontratto.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.nrcopie.label }}">{{ form.nrcopie.label }}:</label>
                                    {{ form.nrcopie|addcss:"form-control" }}
                                    {{ form.nrcopie.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.canonetot.label }}">{{ form.canonetot.label }}*:</label>
                                    {{ form.canonetot|addcss:"form-control" }}
                                    {{ form.canonetot.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.presgara.label }}">{% trans 'Presenza di garanzie' %}:</label>
                                    {% for radio in form.presgara %}
                                        {{ radio }}
                                    {% endfor %}
                                    {{ form.presgara.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 codfisgara">
                                <div class="form-group">
                                    <label for="{{ form.codfisgara.label }}">{{ form.codfisgara.label }}:</label>
                                    {{ form.codfisgara|addcss:"form-control" }}
                                    {{ form.codfisgara.errors }}
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-12">
                              <fieldset class="form-group scheduler-border">
                                <legend class="scheduler-border">Dati catastali:</legend>
                                    <ul class="nav nav-tabs">
                                      <li class="active"><a data-toggle="tab" href="#cat">Immobile 1</a></li>
                                      <li><a data-toggle="tab" href="#cat2">Immobile 2</a></li>
                                      <li><a data-toggle="tab" href="#cat3">Immobile 3</a></li>
                                      <li><a data-toggle="tab" href="#cat4">Immobile 4</a></li>
                                    </ul>
                                    <div class="tab-content">
                                      <div id="cat" class="tab-pane fade in active">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.classe.label }}">{{ form.classe.label }}:</label>
                                                {{ form.classe|addcss:"form-control" }}
                                                {{ form.classe.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.foglio.label }}">{{ form.foglio.label }}*:</label>
                                                {{ form.foglio|addcss:"form-control" }}
                                                {{ form.foglio.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.particella.label }}">{{ form.particella.label }}*:</label>
                                                {{ form.particella|addcss:"form-control" }}
                                                {{ form.particella.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.subalterno.label }}">{{ form.subalterno.label }}*:</label>
                                                {{ form.subalterno|addcss:"form-control" }}
                                                {{ form.subalterno.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.categoria.label }}">{{ form.categoria.label }}:</label>
                                                {{ form.categoria|addcss:"form-control" }}
                                                {{ form.categoria.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.rendita.label }}">{{ form.rendita.label }}:</label>
                                                {{ form.rendita|addcss:"form-control" }}
                                                {{ form.rendita.errors }}
                                            </div>
                                        </div>
                                       </div>
                                       <div id="cat2" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.classe2.label }}">{{ form.classe2.label }}:</label>
                                                {{ form.classe2|addcss:"form-control" }}
                                                {{ form.classe2.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.foglio2.label }}">{{ form.foglio2.label }}*:</label>
                                                {{ form.foglio2|addcss:"form-control" }}
                                                {{ form.foglio2.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.particella2.label }}">{{ form.particella2.label }}*:</label>
                                                {{ form.particella2|addcss:"form-control" }}
                                                {{ form.particella2.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.subalterno2.label }}">{{ form.subalterno2.label }}*:</label>
                                                {{ form.subalterno2|addcss:"form-control" }}
                                                {{ form.subalterno2.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.categoria2.label }}">{{ form.categoria2.label }}:</label>
                                                {{ form.categoria2|addcss:"form-control" }}
                                                {{ form.categoria2.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.rendita2.label }}">{{ form.rendita2.label }}:</label>
                                                {{ form.rendita2|addcss:"form-control" }}
                                                {{ form.rendita2.errors }}
                                            </div>
                                        </div>
                                      </div>
                                      <div id="cat3" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.classe3.label }}">{{ form.classe3.label }}:</label>
                                                {{ form.classe3|addcss:"form-control" }}
                                                {{ form.classe3.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.foglio3.label }}">{{ form.foglio3.label }}*:</label>
                                                {{ form.foglio3|addcss:"form-control" }}
                                                {{ form.foglio3.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.particella3.label }}">{{ form.particella3.label }}*:</label>
                                                {{ form.particella3|addcss:"form-control" }}
                                                {{ form.particella3.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.subalterno3.label }}">{{ form.subalterno3.label }}*:</label>
                                                {{ form.subalterno3|addcss:"form-control" }}
                                                {{ form.subalterno3.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.categoria3.label }}">{{ form.categoria3.label }}:</label>
                                                {{ form.categoria3|addcss:"form-control" }}
                                                {{ form.categoria3.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.rendita3.label }}">{{ form.rendita3.label }}:</label>
                                                {{ form.rendita3|addcss:"form-control" }}
                                                {{ form.rendita3.errors }}
                                            </div>
                                        </div>
                                      </div>
                                      <div id="cat4" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.classe4.label }}">{{ form.classe4.label }}:</label>
                                                {{ form.classe4|addcss:"form-control" }}
                                                {{ form.classe4.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.foglio4.label }}">{{ form.foglio4.label }}*:</label>
                                                {{ form.foglio4|addcss:"form-control" }}
                                                {{ form.foglio4.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.particella4.label }}">{{ form.particella4.label }}*:</label>
                                                {{ form.particella4|addcss:"form-control" }}
                                                {{ form.particella4.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.subalterno4.label }}">{{ form.subalterno4.label }}*:</label>
                                                {{ form.subalterno4|addcss:"form-control" }}
                                                {{ form.subalterno4.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.categoria4.label }}">{{ form.categoria4.label }}:</label>
                                                {{ form.categoria4|addcss:"form-control" }}
                                                {{ form.categoria4.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.rendita4.label }}">{{ form.rendita4.label }}:</label>
                                                {{ form.rendita4|addcss:"form-control" }}
                                                {{ form.rendita4.errors }}
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                              </fieldset>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.datastipulacontratto.label }}">Data stipula contratto*:</label>
                                    {{ form.datastipulacontratto|addcss:"form-control" }}
                                    {{ form.datastipulacontratto.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.datainiziolocazione.label }}">Data inizio contratto*:</label>
                                    {{ form.datainiziolocazione|addcss:"form-control" }}
                                    {{ form.datainiziolocazione.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.dataprimascadenzacontratto.label }}">Data prima scadenza contratto*:</label>
                                    {{ form.dataprimascadenzacontratto|addcss:"form-control" }}
                                    {{ form.dataprimascadenzacontratto.errors }}
                                </div>
                            </div>
                           <div class="col-xs-12">
                                <div class="form-group elecodfis" id="elecodfislocatoridiv">
                                    <label for="{{ form.elecodfislocatori.label }}">{{ form.elecodfislocatori.label }}:</label>
                                    {{ form.elecodfislocatori|addcss:"form-control" }}
                                    {{ form.elecodfislocatori.errors }}
                                </div>
                            </div>
                           <div class="col-xs-12">
                                <div class="form-group elecodfis" id="elecodfislocataridiv">
                                    <label for="{{ form.elecodfislocatari.label }}">{{ form.elecodfislocatari.label }}:</label>
                                    {{ form.elecodfislocatari|addcss:"form-control" }}
                                    {{ form.elecodfislocatari.errors }}
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.cedosecca.label }}">{% trans 'Cedolare secca' %}:</label>
                                    {% for radio in form.cedosecca %}
                                        {{ radio }}
                                    {% endfor %}
                                    {{ form.cedosecca.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="form-group">
                                    <label for="{{ form.notecedosecca.label }}">{{ form.notecedosecca.label }}:</label>
                                    {{ form.notecedosecca|addcss:"form-control" }}
                                    {{ form.notecedosecca.errors }}
                                </div>
                            </div>


                            <div class="col-xs-12 col-md-12 regcedosecca">
                              <fieldset class="form-group scheduler-border">
                                <legend class="scheduler-border">Regime di cedolare secca:</legend>
                                    <ul class="nav nav-tabs">
                                      <li class="active"><a data-toggle="tab" href="#secca">1</a></li>
                                      <li><a data-toggle="tab" href="#secca2">2</a></li>
                                      <li><a data-toggle="tab" href="#secca3">3</a></li>
                                      <li><a data-toggle="tab" href="#secca4">4</a></li>
                                      <li><a data-toggle="tab" href="#secca5">5</a></li>
                                      <li><a data-toggle="tab" href="#secca6">6</a></li>
                                      <li><a data-toggle="tab" href="#secca7">7</a></li>
                                      <li><a data-toggle="tab" href="#secca8">8</a></li>
                                      <li><a data-toggle="tab" href="#secca9">9</a></li>
                                      <li><a data-toggle="tab" href="#secca10">10</a></li>
                                    </ul>
                                    <div class="tab-content">
                                      <div id="secca" class="tab-pane fade in active">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numimsec.label }}">{{ form.numimsec.label }}:</label>
                                                {{ form.numimsec|addcss:"form-control" }}
                                                {{ form.numimsec.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numloc.label }}">{{ form.numloc.label }}:</label>
                                                {{ form.numloc|addcss:"form-control" }}
                                                {{ form.numloc.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.perposs.label }}">{{ form.perposs.label }}:</label>
                                                {{ form.perposs|addcss:"form-control" }}
                                                {{ form.perposs.errors }}
                                            </div>
                                        </div>
                                       </div>
                                       <div id="secca2" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numimsec2.label }}">{{ form.numimsec2.label }}:</label>
                                                {{ form.numimsec2|addcss:"form-control" }}
                                                {{ form.numimsec2.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numloc2.label }}">{{ form.numloc2.label }}:</label>
                                                {{ form.numloc2|addcss:"form-control" }}
                                                {{ form.numloc2.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.perposs2.label }}">{{ form.perposs2.label }}:</label>
                                                {{ form.perposs2|addcss:"form-control" }}
                                                {{ form.perposs2.errors }}
                                            </div>
                                        </div>
                                      </div>
                                       <div id="secca3" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numimsec3.label }}">{{ form.numimsec3.label }}:</label>
                                                {{ form.numimsec3|addcss:"form-control" }}
                                                {{ form.numimsec3.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numloc3.label }}">{{ form.numloc3.label }}:</label>
                                                {{ form.numloc3|addcss:"form-control" }}
                                                {{ form.numloc3.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.perposs3.label }}">{{ form.perposs3.label }}:</label>
                                                {{ form.perposs3|addcss:"form-control" }}
                                                {{ form.perposs3.errors }}
                                            </div>
                                        </div>
                                      </div>
                                       <div id="secca4" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numimsec4.label }}">{{ form.numimsec4.label }}:</label>
                                                {{ form.numimsec4|addcss:"form-control" }}
                                                {{ form.numimsec4.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numloc4.label }}">{{ form.numloc4.label }}:</label>
                                                {{ form.numloc4|addcss:"form-control" }}
                                                {{ form.numloc4.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.perposs4.label }}">{{ form.perposs4.label }}:</label>
                                                {{ form.perposs4|addcss:"form-control" }}
                                                {{ form.perposs4.errors }}
                                            </div>
                                        </div>
                                      </div>
                                       <div id="secca5" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numimsec5.label }}">{{ form.numimsec5.label }}:</label>
                                                {{ form.numimsec5|addcss:"form-control" }}
                                                {{ form.numimsec5.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numloc5.label }}">{{ form.numloc5.label }}:</label>
                                                {{ form.numloc5|addcss:"form-control" }}
                                                {{ form.numloc5.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.perposs5.label }}">{{ form.perposs5.label }}:</label>
                                                {{ form.perposs5|addcss:"form-control" }}
                                                {{ form.perposs5.errors }}
                                            </div>
                                        </div>
                                      </div>
                                       <div id="secca6" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numimsec6.label }}">{{ form.numimsec6.label }}:</label>
                                                {{ form.numimsec6|addcss:"form-control" }}
                                                {{ form.numimsec6.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numloc6.label }}">{{ form.numloc6.label }}:</label>
                                                {{ form.numloc6|addcss:"form-control" }}
                                                {{ form.numloc6.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.perposs6.label }}">{{ form.perposs6.label }}:</label>
                                                {{ form.perposs6|addcss:"form-control" }}
                                                {{ form.perposs6.errors }}
                                            </div>
                                        </div>
                                      </div>
                                       <div id="secca7" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numimsec7.label }}">{{ form.numimsec7.label }}:</label>
                                                {{ form.numimsec7|addcss:"form-control" }}
                                                {{ form.numimsec7.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numloc7.label }}">{{ form.numloc7.label }}:</label>
                                                {{ form.numloc7|addcss:"form-control" }}
                                                {{ form.numloc7.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.perposs7.label }}">{{ form.perposs7.label }}:</label>
                                                {{ form.perposs7|addcss:"form-control" }}
                                                {{ form.perposs7.errors }}
                                            </div>
                                        </div>
                                      </div>
                                       <div id="secca8" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numimsec8.label }}">{{ form.numimsec8.label }}:</label>
                                                {{ form.numimsec8|addcss:"form-control" }}
                                                {{ form.numimsec8.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numloc8.label }}">{{ form.numloc8.label }}:</label>
                                                {{ form.numloc8|addcss:"form-control" }}
                                                {{ form.numloc8.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.perposs8.label }}">{{ form.perposs8.label }}:</label>
                                                {{ form.perposs8|addcss:"form-control" }}
                                                {{ form.perposs8.errors }}
                                            </div>
                                        </div>
                                      </div>
                                       <div id="secca9" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numimsec9.label }}">{{ form.numimsec9.label }}:</label>
                                                {{ form.numimsec9|addcss:"form-control" }}
                                                {{ form.numimsec9.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numloc9.label }}">{{ form.numloc9.label }}:</label>
                                                {{ form.numloc9|addcss:"form-control" }}
                                                {{ form.numloc9.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.perposs9.label }}">{{ form.perposs9.label }}:</label>
                                                {{ form.perposs9|addcss:"form-control" }}
                                                {{ form.perposs9.errors }}
                                            </div>
                                        </div>
                                      </div>
                                       <div id="secca10" class="tab-pane fade in">
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numimsec10.label }}">{{ form.numimsec10.label }}:</label>
                                                {{ form.numimsec10|addcss:"form-control" }}
                                                {{ form.numimsec10.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.numloc10.label }}">{{ form.numloc10.label }}:</label>
                                                {{ form.numloc10|addcss:"form-control" }}
                                                {{ form.numloc10.errors }}
                                            </div>
                                        </div>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="form-group">
                                                <label for="{{ form.perposs10.label }}">{{ form.perposs10.label }}:</label>
                                                {{ form.perposs10|addcss:"form-control" }}
                                                {{ form.perposs10.errors }}
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                              </fieldset>
                            </div>


                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="{{ form.first_name.id_for_label }}">
                                        {% trans "Nominativo" %}{% if form.first_name.field.required %}*{% endif %}:</label>
                                    {{ form.first_name|addcss:"form-control" }}
                                    {{ form.first_name.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}">{% trans "Email" %}{% if form.email.field.required %}*{% endif %}:</label>
                                    {{ form.email|addcss:"form-control" }}
                                    {{ form.email.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="{{ form.tel.id_for_label }}">{% trans "Tel" %}{% if form.tel.field.required %}*{% endif %}:</label>
                                    {{ form.tel|addcss:"form-control" }}
                                    {{ form.tel.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="{{ form.city.id_for_label }}">{% trans "Città" %}{% if form.city.field.required %}{% endif %}:</label>
                                    {{ form.city|addcss:"form-control" }}
                                    {{ form.city.errors }}
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="{{ form.coupon.id_for_label }}">{% trans "Coupon" %}:</label>
                                    {{ form.coupon|addcss:"form-control" }}
                                    {{ form.coupon.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="{{ form.denoage.id_for_label }}">{% trans "Denominazione Agenzia" %}:</label>
                                    {{ form.denoage|addcss:"form-control" }}
                                    {{ form.denoage.errors }}
                                </div>
                            </div>


                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.contratto.label }}">{{ form.contratto.label }}*:</label>
                                    {{ form.contratto|addcss:"form-control" }}
                                    {{ form.contratto.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.visura.label }}">{{ form.visura.label }}*:</label>
                                    {{ form.visura|addcss:"form-control" }}
                                    {{ form.visura.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.ape.label }}">{{ form.ape.label }}:</label>
                                    {{ form.ape|addcss:"form-control" }}
                                    {{ form.ape.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.allegatigen.label }}">{{ form.allegatigen.label }}:</label>
                                    {{ form.allegatigen|addcss:"form-control" }}
                                    {{ form.allegatigen.errors }}
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.message.id_for_label }}">{% trans "Messaggio" %}:</label>
                                    {{ form.message|addcss:"form-control" }}
                                    {{ form.message.errors }}
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.modalitapagamento.label }}">{{ form.modalitapagamento.label }}:</label>
                                    {{ form.modalitapagamento|addcss:"form-control" }}
                                    {{ form.modalitapagamento.errors }}
                                </div>
                            </div>

                            {{ form.calcolodovuto|addcss:"form-control" }}

                                <div class="col-sm-12 consense">
                                    <div class="form-group">
                                        <p>{% trans 'Autorizzo il trattamento dei miei dati al fine di dare seguito alla mia richiesta. I dati personali saranno trattati in conformità con l’informativa presente nella sezione' %} <a href="{% page_url 'privacy'  %}" class="privacy-policy-link" target="_blank">{% trans 'privacy del sito' %}</a>*</p>
                                        {{ form.privacy_ok|addcss:'pull-left' }} <label for="id_privacy">{% trans 'Autorizzo al trattamento dei dati personali*' %}</label>
                                        {{ form.privacy_ok.errors }}
                                    </div>
                                </div>

                                <div class="col-sm-12 newsletter">
                                    <div class="form-group">
                                        <p>{% trans 'Fornisco il trattamento dei miei dati personali per finalità di marketing.' %}</p>
                                        {{ form.newsletter|addcss:'pull-left' }} <label for="id_newsletter">{% trans 'Autorizzo al trattamento dei dati personali per fini di invio newletters e marketing' %}</label>
                                        {{ form.newsletter.errors }}
                                    </div>
                                </div>

                        </div>


                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <div id="loading">
                                  <h4>Prego attendere elaborazione in corso...</h4>
                                </div>
                                <div  id="bottoneinvia">
                                    <input type="submit" value="{% trans 'Invia' %}" class="btn btn-default submit"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}