{% extends "core/style/default.html" %}

{% block base_content %}
    <div >
    <h4>
        Richiesta inviata con successo!!
        <br /><br />
        Appena il backoffice avrà calcolato il dovuto riceverà una email con la cifra per effettuare il pagamento!
{#        Procedere col pagamento col metodo selezionato : {{ modpag }}#}
        <br /></h4>
{#        {{ form.render }}#}
    </div>
{% endblock %}