{% extends "core/style/default.html" %}
{% load i18n sekizai_tags static cms_tags form_tags thumbnail %}
{% load static cms_tags menu_tags sekizai_tags %}

{% block css_app %}
    <link href="{% static "contacts/stylesheet/contacts.css" %}" rel="stylesheet">
{% endblock %}




{% block above_breadcrumb %}

    <div class="pg-opt" style="display: none">
        <div class="container">
            <div class="container" id="headerprod">
                <div class="row">
                    <div class="col-md-12 nopadding">
                        <h1>
                            {% page_attribute title %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_content %}


    {#    <!-- Cantine Sidebar Search Column -->#}
    <div class="container lista">
        <div class="row">
            <div class="mix col-lg-12 col-md-12 col-sm-12" data-cat="{{ forloop.counter }}">
                <section class="container">
                    <h1>Registrazioni inviate</h1>

                    <div class="row bt panel-group">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="elencoPratiche" width="100%" cellspacing="0" cellpadding="5">
                                <div class="col-md-3 testo text-left">Data apertura</div>
                                <div class="col-md-3 testo text-left">Nome servizio</div>
                                <div class="col-md-3 testo text-left">Tipo servizio - Richiedente</div>
                                <div class="col-md-3 testo text-left">Stato registrazione</div>
                            </div>
                        </div>
                    </div>

                        {% for registrazioni in gtacont %}
                            <div class="row bt panel-group">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <section class="panel panel-default bg-white">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 panel-heading">
                                                    <div class="section-title-wr">
                                                        <h4 class="section-title left"><b>
                                                            <a data-toggle="collapse" href="#collapse{{ forloop.counter }}" class="collapsepanel">
                                                                <div class="col-md-3 testo text-left">
                                                                    {{ registrazioni.creation_date|date:"DATE_FORMAT" }}
                                                                </div>
                                                                <div class="col-md-3 testo text-left">
                                                                    <span>{{ registrazioni.nome_registrazione }}</span>
                                                                </div>
                                                                <div class="col-md-3 testo text-left">
                                                                    <span>{{ registrazioni.get_tiposervizio_display }} - {{ registrazioni.get_tipocontr_display }} - {{ registrazioni.get_tipocontratto_display }}</span>
                                                                </div>
                                                                <div class="col-md-3 testo text-left" style="padding-right:10px;">
                                                                    <span>
                                                                        {% if registrazioni.nrprotoade %}
                                                                            <span style="color:green;">CONCLUSO</SPAN>
                                                                        {% else %}
                                                                            {% if registrazioni.pagato and registrazioni.calcolodovuto %}
                                                                                IN ATTESA REGISTRAZIONE AdE...
                                                                            {% else %}
                                                                                {% if registrazioni.calcolodovuto %}
                                                                                    <span style="color:red; border:1px solid red">DA PAGARE</span>
                                                                                {% else %}
                                                                                    ATTESA DI CALCOLO...
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    </span>
                                                                </div>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse" id="collapse{{ forloop.counter }}">
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div class="news-date">
                                                        <b>Data stipula contratto :</b>
                                                        <time>{{ registrazioni.datastipulacontratto|date:"DATE_FORMAT" }}</time>
                                                        &nbsp;&nbsp;<b>Data inizio locazione :</b>
                                                        <time>{{ registrazioni.datainiziolocazione|date:"DATE_FORMAT" }}</time>
                                                        &nbsp;&nbsp;<b>Data scadenza contratto :</b>
                                                        <time>{{ registrazioni.dataprimascadenzacontratto|date:"DATE_FORMAT" }}</time>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 news-date">
                                                    {%  if registrazioni.elecodfislocatori %}
                                                        <b>Elenco Locatori:</b>
                                                        <div>
                                                            {{ registrazioni.elecodfislocatori|safe }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 news-date">
                                                    {%  if registrazioni.elecodfislocatari %}
                                                        <b>Elenco Locatari:</b>
                                                        <div>
                                                            {{ registrazioni.elecodfislocatari|safe }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-3 news-date">
                                                    <div class="canonetot">
                                                        <b>Canone :</b> {{ registrazioni.canonetot }}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-3 news-date">
                                                    <div class="canonetot">
                                                        <b>Dovuto:</b> {{ registrazioni.calcolodovuto }}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-4 news-date">
                                                    <div class="canonetot">
                                                       <b>Pagato: </b>{% if registrazioni.pagato %}SI{% else %}NO {% if registrazioni.calcolodovuto %}<a href="{{ registrazioni.pk }}" style="color:red; border:1px solid red" class="btn btn-default">EFFETTUA IL PAGAMENTO</a>{% endif %}{% endif %}
                                                    </div>
                                                </div>
                                                {% if registrazioni.presgara %}
                                                    <div class="col-xs-12 col-sm-12 col-md-4 news-date">
                                                    <b>Presenza di garanzie: </b>
                                                        {{ registrazioni.presgara }}
                                                        {{ registrazioni.codfisgara }}
                                                    </div>
                                                {% endif %}
                                                {% if registrazioni.cedosecca %}
                                                    <div class="col-xs-12 col-sm-12 col-md-4 news-date">
                                                        <b>Cedolare secca: </b>{{ registrazioni.cedosecca }}
                                                    </div>
                                                {% endif %}
                                                {% if registrazioni.nrprotoade %}
                                                    <div class="col-xs-12 col-sm-12 col-md-12 news-date">
                                                        <div class="canonetot">
                                                            <b>Protocollo :</b> {{ registrazioni.nrprotoade }}
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                                <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                                                    {% if registrazioni.contratto  %}
                                                        <a class="btn btn-default" href="{{ registrazioni.contratto.url }}" target="_blank"><span>{% trans 'DOWNLOAD CONTRATTO' %}</span></a>
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                                                    {% if registrazioni.visura  %}
                                                        <a class="btn btn-default" href="{{ registrazioni.visura.url }}" target="_blank"><span>{% trans 'DOWNLOAD DOCUMENTI' %}</span></a>
                                                    {% endif %}
                                                </div>
                                                    {% if registrazioni.ape  %}
                                                        <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                                                                <a class="btn btn-default" href="{{ registrazioni.ape.url }}" target="_blank"><span>{% trans 'DOWNLOAD APE' %}</span></a>
                                                        </div>
                                                    {% endif %}
                                                    {% if registrazioni.allegatigen  %}
                                                        <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                                                                <a class="btn btn-default" href="{{ registrazioni.allegatigen.url }}" target="_blank"><span>{% trans 'DOWNLOAD ALLEGATI' %}</span></a>
                                                        </div>
                                                    {% endif %}
                                                <div class="col-xs-12 col-sm-12 col-md-3 text-center">
                                                    {% if registrazioni.ricevuta  %}
                                                        <a class="btn btn-default" href="{{ registrazioni.ricevuta.url }}" target="_blank"><span>{% trans 'DOWNLOAD RICEVUTA PAGAMENTO' %}</span></a>
                                                    {% endif %}
                                                </div>
                                                </div>

                                            </div>
                                    </section>

                                </div>
                            </div>
                        {% endfor %}
                </section>

            </div>
        </div>
        <!-- /.row -->

    </div>
{% endblock %}