{% extends "core/style/default.html" %}

{% block base_content %}
    <div >
    <h4>
        Per effettuare il pagamento con Paypal o carta di credito cliccare nel bottone sottostante.
        Se invece si vuole effettuare il pagamento tramite bonifico, effettuare il bonifico presso la propria banca al seguente IBAN:<br /><br />
        IT 06 I 06285 24000 CC0748107825<br />
        Intestato a : IMMOBILMATICA SOCIETA' A RESPONSABILITA'LIMITATA SEMPLIFICATA<br/><br />
        ed inviare la ricevuta di versamento alla mail : <a href="mailto:info@immobilmatica.it">info@immobilmatica.it</a>
        <br /><br />
        Importo da pagare : {{ gtacont.calcolodovuto }}<br />
        per la registrazione con codice : {{ gtacont.nome_registrazione }}
        <br /></h4>
        {{ form.render }}
    </div>
{% endblock %}