{% extends "core/style/default.html" %}

{% block base_content %}
    <div>
    <h4>
        {% ifequal payment_status "Pending" %}
            Il pagamento è stato ricevuto <br />
{#        <br />Usando Paypal o carta di credito per l'importo di: <br />#}
{#        {{ amount }}#}
{#        a <br />#}
{#        {{ receiver_email }}#}
{#        <br /><br />#}
        <br /><br /> Stato Pagamento : {{ payment_status }}<br /><br />
            ma attualmente è in stato di REVISIONE da parte di Paypal, appena sarà addebitato effettivamente l'importo il servizio verrà attivato. Grazie
        {% else %}
            Vi sono stati problemi nella riscossione del pagamento, controllare il proprio metodo di pagamento.
{#        <br />#}
        <br /> Verrete contattati dal fornitore del sistema per i dettagli su come poter effettuare il pagamento.<br/>
        {% endifequal %}
</h4>
    </div>
{% endblock %}