{% extends "core/style/default.html" %}

{% block base_content %}
    <div><h4>
        Pagamento avvenuto con successo!!!<br />
        Grazie<br />
        Riepilogo dati :
        hai pagato euro : {{ amount }}<br />
{#        a : {{ receiver_email }}#}
        Presto riceverai la ricevuta col numero di protocollo AdE assegnato!
        <br /><br />
        Stato pagamento : {{ payment_status }}
        <br /></h4>
    </div>
{% endblock %}