{% load sekizai_tags %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% addtoblock "css" %}
    <link href="{% static 'stylesheets/pleiadi_cmsplugins/teaser/teaser_banner.css' %}" rel="stylesheet">
{% endaddtoblock %}

<div class="row teaser banner">
    {% if link_to %}<a href="{{ link_to.href }}" target="{{ link_to.target }}">{% endif %}
    <div class="col-lg-12 banner-container" style="background-image: url({{ media.url }})">
         {% if dimension %}
                {% thumbnail media dimension crop upscale as aspect_ratio_image %}
                <img src="{{ aspect_ratio_image.url }}">
        {% else %}
                <img src="{{ media.url }}">
        {% endif %}
        <div class="banner-content">
            {% if title %}<h2 class="">{{ title }}</h2>{% endif %}
            {{ description|safe }}
        </div>
    </div>
    {% if link_to %}</a>{% endif %}
</div>
<!-- /.row -->