{% load sekizai_tags %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% addtoblock "css" %}
    <link href="{% static 'stylesheets/pleiadi_cmsplugins/teaser/teaser_banner.css' %}" rel="stylesheet">
{% endaddtoblock %}

<div class="row teaser image">
    {% if link_to %}<a href="{{ link_to.href }}" target="{{ link_to.target }}">{% endif %}
    <div class="col-lg-12 image-container">
         {% if dimension %}
                {% thumbnail media dimension crop upscale as aspect_ratio_image %}
                <img src="{{ aspect_ratio_image.url }}" class="img-responsive">
        {% else %}
                <img src="{{ media.url }}" class="img-responsive">
        {% endif %}
    </div>
    {% if link_to %}</a>{% endif %}
</div>
<!-- /.row -->