{% load sekizai_tags %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% addtoblock "css" %}
    <link href="{% static 'stylesheets/pleiadi_cmsplugins/teaser/teaser_right_image.css' %}" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}<script src="{% static 'jquery.equalheights/jquery.equalheights.min.js' %}"></script>{% endaddtoblock %}

<!-- Features Section -->
<div class="row teaser">
    <div class="col-lg-12">
        <h2 class="page-header">{{ instance.title }}</h2>
    </div>


    <div class="col-md-9 teaser-column">
        <div class="item-description {% if link_to %}link{% endif %}">{{ instance.description|safe }}</div>

        {% if link_to %}<a href="{{ link_to.href }}" target="{{ link_to.target }}" class="btn btn-default">{% trans "more" %}</a>{% endif %}


    </div>
    <div class="col-md-3 teaser-column image-container" style="background-image: url('{{ media.url }}')">
        {% if dimension %}
            {% thumbnail media dimension crop upscale as aspect_ratio_image %}
            <img src="{{ aspect_ratio_image.url }}" class="img-responsive" alt="{{ slideshow_item.alt}}">
        {% else %}
            <img src="{{ media.url }}" class="img-responsive" alt="{{ slideshow_item.alt}}">
        {% endif %}
    </div>

</div>
<!-- /.row -->