{% extends "mailing/mail_base.html" %}
{% load i18n %}



{% block mail_base_content %}
    {% blocktrans %}
    <p>
        Salve {{editor_first_name}} {{ editor_last_name }},<br />

        Il calcolo del dovuto per il contratto {{ edited_content_contr }} da lei sottoscritto è il seguente : <br />
        <i>{{ edited_content_calcolodovuto }} euro</i><br /><br />
        Nella propria area riservata è possibile in qualsiasi momento visualizzare e scaricare il contratto sottoscritto.
        <br /><br />
        Entrare nella propria area riservata per effettuare il pagamento del contratto
        <br/>
    </p>
    {% endblocktrans %}
{% endblock %}