{% load cms_tags sekizai_tags %}
{% load static seo_tags i18n menu_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% load cache %}

<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="{%  static 'core/images/favicon.ico' %}">
      <title>{% block title %}{% page_attribute page_title %}{% endblock %} | {{ current_site.name }}</title>
      <meta name="description" content="{% block meta_description %}{% page_attribute "meta_description" %}{% endblock %}">
      {% rel_alternate %}

      {% render_block "css" %}
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
      <link href='{% static "font-awesome-bower/css/font-awesome.css" %}' rel='stylesheet' type='text/css'>

      <link href="{% static "jQuery.mmenu/dist/css/jquery.mmenu.all.css" %}" rel="stylesheet">
      <link href="{% static "core/stylesheet/main.css" %}" rel="stylesheet">

    {#    wow interface#}
    <link rel="stylesheet" href="{% static 'core/javascript/wow-master/css/libs/animate.css' %}">

      <script type="text/javascript">
        var cookieLawLang = "it";
      </script>

      <script src="{% static 'core/javascript/cookie-law.js' %}" type="text/javascript"></script>
      <link href="{% static 'core/stylesheet/cookie-law.css' %}" rel="stylesheet" type="text/css" />

      {% block css_app %}{% endblock %}
  </head>
  <body>
    {% cms_toolbar %}

    <div id="cookie-law" style="display:none">
    </div>

    <header class="animated-header wow fadeInDown"> <!-- hidden-xs -->
        <nav class="navbar navbar-default" role="navigation"> <!-- navbar-fixed-top  -->
            <div class="container-fluid">
                <div class="container_inner">
                    <div class="row head-page">
                        <div class="col-sm-12 col-md-2">
                            <div class="header-info">
                                    <div class="page-brand text-left">
                                        <div><a href="/"><img src="{% static 'core/images/logo_immobilmatica.png' %}" alt="Immobilmatica" class="logo-main img-responsive" /></a></div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-10 menu">
                            <div class="header_inner_right">
                                <div class="text-right">
                                    <!-- collapse navbar-collapse --> <!-- usati per il menu in mobile che collassa -->
                                    <ul class="nav navbar-nav main-menu">
                                        {% show_menu 0 100 100 100 "menu/menu.html" %}
                                    </ul>
                                </div>
                            </div>
                            {% include 'custom_auth/login.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>


      <div class="content-wrapper">

        <div class="content">
            <div class="content_inner">
              {% placeholder under_header %}
              {% block under_header %}
            {#              <div class="title animate has_background" style="">#}
            {#              </div>#}
              {% endblock %}
              {% block banner_content %}{% endblock %}
            </div>
        </div>

        <div class="container-fluid contentmargin50">
            <div class="page-content">
                <div class="row mobilemenu hidden-xs hidden-sm hidden-md hidden-lg">
                    <div class="col-xs-12 ">
                        <nav class="navbar-default hidden-md hidden-lg" role="navigation">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a href="#mobile-menu" class="navbar-toggle collapsed">
                                        <span class="sr-only">immobilmatica</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </a>
                                    <a class="navbar-brand" href="/it/"><img src="{% static 'core/images/logo_immobilmatica.png' %}" alt="Immobilmatica" /></a>
                                </div>
                            </div>

                            <div id="mobile-menu1" class="hidden-md hidden-lg">
                                <ul>
{#                                    {% show_menu 0 2 100 100 "menu/mobile-menu.html" %}#}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="container top_move wow slideInLeftBig">
                    <div class="container_inner">
                        <div class="container_inner2">
                            {% block breadcrumb %}{% endblock %}
                            {% block base_content %}{% endblock %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
      </div>

{#      {% include './interface/language.html' %}#}
      {% include './interface/footer.html' %}

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-sass-official/assets/javascripts/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js' %}"></script>
    <script src="{% static 'bootstrap-sass-official/assets/javascripts/bootstrap/tab.js' %}"></script>
    <script src="{% static 'jQuery.mmenu/dist/js/jquery.mmenu.all.min.js' %}"></script>
    <script src="{% static 'animated-header/js/animated-header.js' %}"></script>

    {% render_block "js" %}
    {% block js_app %}{% endblock %}

    <script src="{% static 'core/javascript/wow-master/dist/wow.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            new WOW().init();
        });
    </script>

    <script type="text/javascript" src="{% static 'core/javascript/mobile_menu.js' %}"></script>
  </body>
</html>