{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'core/images/favicon.ico' %}">
    <title>{% block title %}{% endblock %} | {{ current_site.name }}</title>

    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    {% block css_app %}{% endblock %}
</head>
<body>

{% block base_content %}{% endblock %}


<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap-sass-official/assets/javascripts/bootstrap.js' %}"></script>
<script src="{% static 'bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js' %}"></script>
<script src="{% static 'bootstrap-sass-official/assets/javascripts/bootstrap/tab.js' %}"></script>

{% block js_app %}{% endblock %}


</body>
</html>