{% load sekizai_tags %}
{% load thumbnail %}
{% load static %}

{% addtoblock "css" %}

    <link rel="stylesheet" type="text/css" href="{% static 'core/javascript/rs-plugin/css/settings.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'core/javascript/rs-plugin/css/extralayers.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/pleiadi_cmsplugins/gallery/gallery_slideshow_wide_banner.css' %}" >

{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript" src="{% static 'core/javascript/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/javascript/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
	<script type="text/javascript">

   $(document).ready(function() {
      $('.fullscreenbanner').revolution({
         delay:9000,
         startwidth:960,
         startheight:945,
         startWithSlide:0,

         fullScreenAlignForce:"off",
         autoHeight:"on",

         shuffle:"off",

         onHoverStop:"off",

         thumbWidth:100,
         thumbHeight:50,
         thumbAmount:5,

         hideThumbsOnMobile:"off",
         hideNavDelayOnMobile:1500,
         hideBulletsOnMobile:"off",
         hideArrowsOnMobile:"off",
         hideThumbsUnderResoluition:0,

         hideThumbs:0,
         hideTimerBar:"off",

         keyboardNavigation:"on",

{#         navigationType:"bullet",#}
{#         navigationArrows:"solo",#}
         navigationStyle:"round",

         navigationHAlign:"center",
         navigationVAlign:"bottom",
         navigationHOffset:0,
         navigationVOffset:20,

         soloArrowLeftHalign:"left",
         soloArrowLeftValign:"center",
         soloArrowLeftHOffset:20,
         soloArrowLeftVOffset:0,

         soloArrowRightHalign:"right",
         soloArrowRightValign:"center",
         soloArrowRightHOffset:20,
         soloArrowRightVOffset:0,


         touchenabled:"on",
         swipe_velocity:"0.7",
         swipe_max_touches:"1",
         swipe_min_touches:"1",
         drag_block_vertical:"false",

         parallax:"mouse",
         parallaxBgFreeze:"on",
         parallaxLevels:[10,7,4,3,2,5,4,3,2,1],

         stopAtSlide:-1,
         stopAfterLoops:-1,
         hideCaptionAtLimit:0,
         hideAllCaptionAtLilmit:0,
         hideSliderAtLimit:0,

         dottedOverlay:"none",

         spinned:"spinner4",

         fullWidth:"off",
         forceFullWidth:"off",
         fullScreen:"off",
         fullScreenOffsetContainer:"#topheader-to-offset",

         shadow:0

      });

   });

    </script>

{% endaddtoblock %}

<div class="fullscreenbanner">
    <ul>
    {% for slideshow_item in items_list %}
     <li data-transition="boxslide" data-slotamount="7" {% if slideshow_item.link_to and slideshow_item.link_to.href %} data-link="{{ slideshow_item.link_to.href }}" {% endif %}>
        {% if dimension %}
            {% thumbnail slideshow_item.media dimension crop upscale as aspect_ratio_image %}
            <img src="{{ aspect_ratio_image.url }}" class="img-responsive" alt="{{ slideshow_item.alt}}">
        {% else %}
            <img src="{{ slideshow_item.media.url }}">
        {% endif %}
        {% if slideshow_item.title or slideshow_item.sub_title or slideshow_item.description %}
            <div class="tp-caption black_bold_bg_20_opacyty customin tp-resizeme rs-parallaxlevel-0"
			data-x="100"
			data-y="300"
			data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
			data-speed="500"
			data-start="2600"
			data-easing="Power3.easeInOut"
			data-splitin="none"
			data-splitout="none"
			data-elementdelay="0.05"
			data-endelementdelay="0.1"
			style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;" >
{#             data-x="400" data-y="100" data-speed="700" data-start="1700" data-easing="easeOutBack"#}
                {% if slideshow_item.title %}
                    <h2>{{ slideshow_item.title }}</h2>
                {% endif %}
                {% if slideshow_item.sub_title %}
                    <h3>{{ slideshow_item.sub_title }}</h3>
                {% endif %}
                {% if slideshow_item.description %}
                    {{ slideshow_item.description|safe }}
                {% endif %}
            </div>
        {% endif %}
     </li>
    {% endfor %}
    </ul>
</div>