{% load sekizai_tags %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% addtoblock "css" %}
    <link href="{% static 'stylesheets/pleiadi_cmsplugins/gallery/gallery_teaserlist_boxes.css' %}" rel="stylesheet">
{% endaddtoblock %}

{% addtoblock "js" %}<script src="{% static 'jquery.equalheights/jquery.equalheights.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}
	<script type="text/javascript">

        $(document).ready(function(){

            function reHeight() {
                $('.teaserlist .panel-body').css({'height': 'auto'});
                $('.teaserlist .panel-body').equalHeights();

                $('.teaserlist .panel-heading').css({'height': 'auto'});
                $('.teaserlist .panel-heading').equalHeights();

            }

            $( window ).resize(function() {
              reHeight();
            });

            reHeight();
        });


    </script>
{% endaddtoblock %}

<div data-equal=".panel-body" class="teaserlist boxes row {% if media %}bg_image{% endif %}" {% if media %}style="background-image:url('{{ media.url }}');"{% endif %}>
    <div class="col-lg-12">
        <div class="page-header">
            <h1>{{ title }}</h1>
            {{ description|safe }}
        </div>
    </div>


    {% for item in items_list %}
        <div class="boxed-item col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-fw fa-check"></i> {{ item.title }}
                        {% if item.sub_title %}<br /><small>{{ item.sub_title }}</small>{% endif %}
                    </h4>
                </div>
                {% if item.media %}
                    <div class="panel-image"><img src="{{ item.media.url }}" alt="{{ item.alt}}" class="img-responsive"></div>
                {% endif %}

                <div class="panel-body">
                    <div class="item-description {% if item.link_to %}link{% endif %}">{{ item.description|safe }}</div>
                    {% if item.link_to %}<a href="{{ item.link_to.href }}" target="{{ item.link_to.target }}" class="btn btn-default">{% trans "Learn More" %}</a>{% endif %}
                </div>
            </div>
        </div>
    {% endfor %}


</div>
<!-- /.row -->



