{% load i18n thumbnail sekizai_tags static %}

<div id="{{ plugin.id_attr }}" class="image-gallery">

{% if items_list %}
    <div class="galleryitems">
        <div class="page-header">
            <h1>{{ title }}</h1>
            {{ description|safe }}
        </div>


        <div class="row">
            {% for gallery_item in items_list %}
                {% thumbnail gallery_item.media 338x174 crop upscale as thumb %}
                <div class="image_item col-lg-3 col-md-3 col-sm-4 col-xs-6">



                    <a class="swipebox image" rel="group" href="{{ gallery_item.media.url }}" title="{% if gallery_item.media_title %}{{ gallery_item.media_title }}{% endif %}">
                        <i class="fa fa-play-circle fa-4x"></i>
                        <img class="img-responsive thumbnail " src="{{ thumb.url }}" alt="{% if gallery_item.media_title %}{{ gallery_item.media_title }}{% endif %}" />
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'swipebox/src/css/swipebox.css' %}">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'stylesheets/pleiadi_cmsplugins/gallery/gallery_filelist_imagegallery.css' %}">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'swipebox/src/js/jquery.swipebox.min.js' %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}
        <script type="text/javascript">
            $(function() {
                $( '.swipebox' ).swipebox();
            });
        </script>
    {% endaddtoblock %}

{% endif %}	
</div>