{% extends "core/style/default.html" %}
{% load cms_tags %}

{% block banner_content %}
    {% placeholder slider_placeholder %}
{% endblock %}

{% block base_content %}

    <div class="row bottom-margin-small">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    {% placeholder banner_placeholder %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}