{% extends "core/style/default.html" %}
{% load cms_tags %}

{% block base_content %}

    <div class="row bottom-margin-small">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    {% placeholder slider %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">{% placeholder content_left %}</div>
                <div class="col-xs-12 col-sm-6">{% placeholder content_right %}</div>
            </div>
        </div>
    </div>

    {% placeholder right_column %}
{% endblock %}

