{% load menu_tags %}

{% for child in children %}
<li class="{% if child.selected %}active{% endif %}{% if child.children %} dropdown {% endif %}">
	<a id="el-{{ forloop.counter0 }}-{{ child.menu_level }}-{% if not child.children %}0{% else %}1{% endif %}" {% if not child.children %}href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"{% elif child.attr.redirect_url == '_subpage' %}href="{{ child.get_absolute_url }}"{% else %}href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" {% endif %} class="{% if child.children and child.attr.redirect_url != '_subpage'  %}dropdown{% endif %} {% if child.ancestor or child.selected %}active{% endif %}">
        {{ child.get_menu_title }}
    </a>
	{% if child.children %}
        <ul class="dropdown-menu level-{{ child.menu_level  }} {% if child.selected %}active{% endif %} {% if child.ancestor %}ancestor{% endif %}">
            {% show_menu from_level to_level extra_inactive extra_active "menu/mega_menu.html" "" "" child %}
        </ul>
	{% endif %}
</li>
{% endfor %}

