{% load menu_tags %}

{% for child in children %}
<li class="{% if child.selected %}active{% endif %}">
	<a id="el-{{ forloop.counter0 }}-{{ child.menu_level }}-{% if not child.children %}0{% else %}1{% endif %}" {% if not child.children %}href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"{% elif child.attr.redirect_url == '_subpage' %}href="{{ child.get_absolute_url }}"{% else %}href="#"{% endif %} class="{% if child.ancestor or child.selected %}active{% endif %}">{{ child.get_menu_title }}</a>
	{% if child.children %}
        <ul class="level-{{ child.menu_level  }} {% if child.selected %}active{% endif %} {% if child.ancestor %}ancestor{% endif %}">
            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </ul>
	{% endif %}
</li>
{% endfor %}